@import "tailwindcss";

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }

  .dark body {
    background-color: #000000;
    color: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
